* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  #home {
    height: 100vh;
    width: 100%;
    background: url(../img/matthew-henry-64794-unsplash.jpg) center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      color: whitesmoke;
      font-size: 10vh;
      margin-top: 20vh;
    }
  }
}

.section-title {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vh;
}

section {
  float: left;
  height: 70vh;
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.about-text {
  padding: 5rem;
  font-size: 30px;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s all ease-in-out;
}

.about-text-appear {
  opacity: 1;
  transform: translateY(0px);
}

.pug-image {
  background-color: whitesmoke;
  float: right;
  height: 70vh;
  width: 50%;
  background: url(../img/charles-1133725-unsplash.jpg) center center;
  background-size: cover;
}

.home-icon {
  position: fixed;
  bottom: 50vh;
  left: 5px;
  transform: translateY(-50%);
  background-color: whitesmoke;
  border-radius: 3em;
  height: 3em;
  width: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
