header {
  height: 100vh;
  background: $bgToBottom;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  h1 {
    @include primaryFont(black);

    &:hover {
      color: white;
    }
  }
}
