@media (max-width: $androidView) {
  header h1,
  footer h1 {
    font-size: 50px;
  }

  section p {
    font-size: 20px;
    line-height: normal;
  }
}

@media (min-width: $wideView) {
  header h1,
  footer h1 {
    font-size: 150px;
  }

  section p {
    font-size: 50px;
    line-height: normal;
  }
}
