@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#preloader {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#5ee7df), to(#b490ca));
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

#preloader h2 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Baloo Bhai", cursive;
  letter-spacing: 1vw;
  font-size: 100px;
  color: black;
  position: absolute;
  top: 75%;
  font-size: 50px;
}

#preloader .paper-plane {
  height: 200px;
  -webkit-animation: paper-plane 1s ease infinite alternate;
          animation: paper-plane 1s ease infinite alternate;
}

#preloader .cloud1,
#preloader .cloud2,
#preloader .cloud3 {
  position: absolute;
  height: 100px;
  right: 0%;
  z-index: -1;
}

#preloader .cloud1 {
  top: 10%;
  -webkit-transform: translate(100%, -10%);
          transform: translate(100%, -10%);
  -webkit-animation: clouds 3s ease infinite 1s;
          animation: clouds 3s ease infinite 1s;
}

#preloader .cloud2 {
  top: 40%;
  -webkit-transform: translate(100%, -40%);
          transform: translate(100%, -40%);
  -webkit-animation: clouds 3s ease infinite 2s;
          animation: clouds 3s ease infinite 2s;
}

#preloader .cloud3 {
  top: 80%;
  -webkit-transform: translate(100%, -80%);
          transform: translate(100%, -80%);
  -webkit-animation: clouds 3s ease infinite;
          animation: clouds 3s ease infinite;
}

@-webkit-keyframes paper-plane {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@keyframes paper-plane {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@-webkit-keyframes clouds {
  from {
    right: 0%;
  }
  to {
    right: 130%;
  }
}

@keyframes clouds {
  from {
    right: 0%;
  }
  to {
    right: 130%;
  }
}

.preloader-finish {
  opacity: 0;
  pointer-events: none;
}

header, section, footer {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff0844), to(#ffb199));
  background: linear-gradient(to bottom, #ff0844 0%, #ffb199 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

header h1, section h1, footer h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Baloo Bhai", cursive;
  letter-spacing: 1vw;
  font-size: 100px;
  color: black;
}

header h1:hover, section h1:hover, footer h1:hover {
  color: white;
}

section {
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

section p {
  text-transform: uppercase;
  text-align: center;
  font-family: "Baloo Bhai", cursive;
  letter-spacing: 1vw;
  font-size: 100px;
  color: black;
  letter-spacing: 2px;
  line-height: 50px;
  word-wrap: none;
  font-size: 20px;
}

footer {
  background: -webkit-gradient(linear, left bottom, left top, from(#ff0844), to(#ffb199));
  background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

footer h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Baloo Bhai", cursive;
  letter-spacing: 1vw;
  font-size: 100px;
  color: black;
}

@media (max-width: 670px) {
  header h1, section h1, footer h1,
  footer h1 {
    font-size: 50px;
  }
  section p {
    font-size: 20px;
    line-height: normal;
  }
}

@media (min-width: 1920px) {
  header h1, section h1, footer h1,
  footer h1 {
    font-size: 150px;
  }
  section p {
    font-size: 50px;
    line-height: normal;
  }
}

.home-icon {
  position: fixed;
  bottom: 50vh;
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: whitesmoke;
  border-radius: 3em;
  height: 3em;
  width: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */