@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap");

* {
  padding: 0;
  margin: 0;
  user-select: none;
}

@import "./variables";
@import "./mixins";
@import "./preloader";
@import "./header";
@import "./section";
@import "./footer";
@import "./media";

.home-icon {
  position: fixed;
  bottom: 50vh;
  left: 5px;
  transform: translateY(-50%);
  background-color: whitesmoke;
  border-radius: 3em;
  height: 3em;
  width: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
